{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
    <div class="mt-3">
        <h1>Formulaire d'inscription</h1>
        <hr>
        {{ form(formRegister) }}
    </div>
{% endblock %}
